.setting{
    background: url('https://images.hdqwalls.com/wallpapers/blue-dark-light-formation-4k-92.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    /* border:2px solid red */
}